<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>




<script type="text/html" id="template">
    <ul>
        <%
        _.each(movies, function(movie, id) {
        %>


        <li>
            <div><%= movie.title %> <%= movie.avg_score %></div>
            <img src="<%= movie.img_url %> alt="Movie image"/>
        </li>

        <%
        });
        %>

    </ul>

</script>

<div id="view"></div>



<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/underscore.js"></script>
<script src="js/model.js"></script>
<script src="js/controller.js"></script>

<script>
    var controller = new Controller("#view", "#template");
    var model = new Model("http://cs3213.herokuapp.com/movies.json");


    model.addObserver(controller);
    model.fetch();
</script>




</body>
</html>